{% extends 'base.html.twig' %}

{% block title %}Hello WorkshopController!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col">

			{% if app.user %}
				<div class="text-right my-2">
					<a href="{{ path('app_workshop_add')}}" class="text-right btn btn-primary">Ajouter un atelier</a>
				</div>
			{% endif %}

			<ul class="list-group mt-3">

				{% for workshop in workshops %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						{{ constant('App\\Entity\\Workshop::TYPES_NAMES')[workshop.type] }}
						: du
						{{ workshop.getStart().format('d/m/Y')}}
						au
						{{ workshop.getEnd().format('d/m/Y')}}
						<div>
							Places dispo
							<span class="badge badge-primary badge-pill" style="background-color: {{ available(workshop.maximum, workshop.enroled)}};">{{ workshop.maximum - workshop.enroled }}</span>
						</div>
					</li>
				{% endfor %}

			</ul>
		</div>
	</div>

{% endblock %}

